$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

body {
	font-family: "Tahoma", sans-serif;
}

.question,
.phone__enter__block,
.price__test__final__result {
	display: none;
}

a {
	text-decoration: none;
	transition: all 0.3s linear;
}

.prices__test__wrap {
	width: 100%;
	// background-color: #f8f9fb;
	padding: 0px 20px;
	@media screen and (min-width: $landscape-lg) {
		padding: 0;
	}
	form,
	.price__test__final__result {
		width: 100%;
		max-width: 1220px;
		margin: 0 auto;
	}
	.price__start__test__screen {
	width: 100%;
	@media screen and (min-width: $landscape-lg) {
		background-image: url(../img/price-test-first-screen-bg.png);
		background-position: center right;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.prices__test__inputs__wrap {
		@media screen and (min-width: $landscape-lg)  {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			max-width: 600px;	
		}
	}
}
.price__test__header {
	width: 100%;
	font-size: 22px;
	line-height: 1em;
	color: #333;
	margin-top: 0;
	margin-bottom: 60px;
	text-align: left;
	@media screen and (min-width: $landscape-lg) {
		font-size: 28px;
	}
}
.prices__test__inputs__wrap {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg)  {
		justify-content: flex-start;
	}
}
.--height-variable {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 750px;
	max-height: 210px;
	.price__test__label {
		width: 50%;
	}
}
.price__test__input {
	display: none;
	&:checked {
		+ .price__test__label {
			&::after {
				transform: rotate(-45deg) scale3d(1, 1, 1);
				opacity: 1;
			}
		}
	}
}
.price__test__label {
	display: block;
	position: relative;
	width: 100%;
	min-height: 45px;
	padding-left: 45px;
	font-size: 18px;
	line-height: 1.3em;
	color: #000;
	margin-bottom: 25px;
	cursor: pointer;
	@media screen and (min-width: $landscape-lg) {
		max-width: 525px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #000;
		top: 2px;
    left: 0;
	}
	&::after {
		content: '';
		position: absolute;
    width: 12px;
    height: 7px;
    border-left: 4px solid #8ab438;
    border-bottom: 4px solid #8ab438;
    transform: rotate(-45deg) scale3d(0,0,0);
    opacity: 1;
    top: 7px;
    left: 4px;
    transition: all 0.25s ease-in-out;
	}
}
.price__test__next__screen {
	display: block;
	outline: none;
	border: none;
	width: 100%;
	max-width: 280px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #a5d743;
	border-radius: 10px;
	color: #fff;
	font-size: 22px;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 0;
	cursor: pointer;
	border-bottom: 7px solid #8ab438;
	transition: background-color 0.3s ease-in-out;
	@media screen and (min-width: $landscape-sm) {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		margin-bottom: 30px;
		margin-right: 40px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 150px;
	}
	&:hover {
		background-color: #8ab438;
	}
}
.change__service {
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 1em;
	font-weight: 700;
	color: #a5d743;
	text-transform: uppercase;
	background-image: url(../img/dots-for-btns.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	border-bottom: none;
	padding: 0;
	padding-bottom: 5px;
	border: none;
	background-color: transparent;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	@media screen and (min-width: 320px) {
		max-width: 253px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px) {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 30px;
		margin: 0;
		margin-bottom: 30px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 150px;
	}
	&:hover {
		background-image: none;
	}
}
.phone__enter__block {
	width: 100%;
	.change__service {
		display: block;
	}
}
.phone__enter__header {
	width: 100%;
	font-size: 28px;
	line-height: 1em;
	color: #333;
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: bold;
	@media screen and (min-width: $landscape-lg) {
		max-width: 600px;
	}
}
.phone__enter__descr {
	width: 100%;
	font-size: 24px;
	line-height: 1.5em;
	color: #333;
	margin-bottom: 50px;
	span {
		font-weight: bold;
		color: #54b0e0;
	}
}
.phone__enter__input__wrap {
	width: 100%;
	height: 100%;
	position: relative;
}
.phone__enter__icon {
	display: block;
	position: absolute;
	width: 19px;
	height: 30px;
	background-image: url(../img/phone-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 17px;
	left: 10px;
	z-index: 1;
}
.price__test__phone {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #000;
	outline: none;
	font-size: 22px;
	line-height: 1.5em;
	color: #54b0e0;
	&::-webkit-input-placeholder {
		color: #54b0e0;
	}
	&::-moz-placeholder {
			color: #54b0e0;
	}
	&:-ms-input-placeholder {
			color: #54b0e0;
	}
	&:-moz-placeholder {
			color: #54b0e0;
	}
	@media screen and (min-width: 768px) {
		max-width: 565px;
		margin-bottom: 50px;
	}
}
.phone__enter__text {
	font-size: 18px;
	line-height: 1.2em;
	color: #333;
	margin-bottom: 50px;
}
.price__test__get__offer {
	display: block;
	outline: none;
	border: none;
	width: 100%;
	max-width: 320px;
	margin: 0;
	margin-bottom: 30px;
	background-color: #a5d743;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 0;
	cursor: pointer;
	border-bottom: 7px solid #8ab438;
	transition: background-color 0.3s ease-in-out;
	@media screen and (min-width: $landscape-sm) {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 30px;
		margin-right: 40px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 100px;
	}
	&:hover {
		background-color: #8ab438;
	}
}
.price__test__policy {
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 1em;
	font-weight: 700;
	color: #a5d743;
	text-transform: uppercase;
	background-image: url(../img/dots-for-btns.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	border-bottom: none;
	padding: 0;
	padding-bottom: 5px;
	border: none;
	background-color: transparent;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	@media screen and (min-width: 320px) {
		max-width: 365px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	@media screen and (min-width: 768px) {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 30px;
		margin: 0;
		margin-bottom: 30px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 100px;
	}
	&:hover {
		background-image: none;
	}
}
.price__test__final__result {
	.price__test__header {
		width: 100%;
		span {
			color: #55b1e1;
		}
		@media screen and (min-width: $landscape-lg) {
			max-width: 705px;
			font-size: 36px;
			line-height: 1.3em;
		}
	}
}

.price__test__final__conditions__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	list-style-type: none;
	@media screen and (min-width: $landscape-lg) {
		max-height: 110px;
	}
	li {
		width: 100%;
		position: relative;
		font-size: 18px;
		line-height: 1.5em;
		margin-top: 0;
		padding-left: 25px;
		margin-bottom: 15px;
		span {
			font-weight: bold;
			color: #55b1e1;
		}
		&::before {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #55b1e1;
			top: 12px;
			left: 0;
		}
		@media screen and (min-width: $landscape-lg) {
			width: 50%;
		}
	}
}
.pre__result__text {
	width: 100%;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: bold;
	color: #333;
	margin-bottom: 40px;
}
.price__test__final__results__block {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
}
.price__test__final__results__item {
	width: 100%;
	border: 2px solid #55b1e1;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
		margin-right: 20px;
		&:nth-of-type(1) {
			max-width: 300px;
		}
		&:nth-of-type(2) {
			max-width: 500px;
		}
		&:nth-of-type(3) {
			max-width: 370px;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.price__test__final__results__item__text {
	width: 100%;
	min-height: 85px;
	padding: 15px 0px 15px 20px;
	background-color: #55b1e1;
	font-size: 18px;
	line-height: 1.5em;
	color: #fff;
}
.price__test__final__results__item__price {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5em;
	color: #333;
}
.price__final__additional__list {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 15px 0;
	margin-bottom: 50px;
	.price__final__additional__list__item {
		display: block;
		position: relative;
		padding-left: 50px;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 1.5em;
		color: #333;
		&::before {
			content: '';
			position: absolute;
			width: 26px;
			height: 26px;
			background-image: url(../img/price__second__list__icon.png);
			background-position: center;
			background-size: cover;
			top: 1px;
			left: 0;
			transform: none;
			border: none;
		}
	}
}

}